/* ==========================================
   NAVIGATION
========================================== */

nav{

    background:#003d99;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 30px;

    position:sticky;

    top:0;

    z-index:1000;

}

.nav-links{

    display:flex;

    gap:25px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

.nav-links a:hover{

    color:#00ff99;

}

.menu-toggle{

    display:none;

    font-size:34px;

    color:white;

    cursor:pointer;

    background:#0056D2;

    padding:10px 16px;

    border-radius:8px;

    transition:.3s;

}

.menu-toggle:hover{

    background:#0077ff;

}
