/* ==========================================
   TELCO PHARMACY WEBSITE
   Master Stylesheet
========================================== */

/* General Website */
@import url("hero.css");
@import url("navigation.css");
@import url("services.css");
@import url("gallery.css");
@import url("portal.css");
@import url("contact.css");
@import url("footer.css");
@import url("responsive.css");

/* Global Styles */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f9ff;
    color:#333;
    line-height:1.6;
}

main{
    width:90%;
    margin:auto;
    padding:50px 0;
}
